.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store

/Figures/
/Old/
/Readings/
/PNAS submission/
/Transposon library.Data/
/Transposon Library.enl

Build/*
!Build/.gitkeep
/Deterministic/determ
/Deterministic/Old
/TE/te
/TE/Runs/0-*

*.docx
*.pdf
*.o
*.so
*.dll
*.d
*.d.x
*conflicted copy*
